.font-family {
    src: url(https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Vazirmatn:wght@400;600&display=swap);
}

.img {
    justify-content: left;
    width: 485px;
   

}

.top-text {

    padding-left: 20%;
    padding-right: 20%;
    color: #1e0e62;
    font-family: "Dm sans"

}

.top-text p {
    color: #a1a1b0;
}

.bottom-container {
    display: flex;
    margin-top: 400px;
    gap: 0px;
}



.main {
    display: flex;
    
  

}

.button {

    background-color: #e93a7d;
    border: none;
    color: white;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    height: 35px;
}

.middle-part {
    padding-top: 30px;
    padding-left: 20%;
}